.About {
    background-color: rgba(131, 7, 122, 0.444);
    padding-top: 15px;
    padding-bottom: 40px;
}

.Title {
    padding-top: 10px;
    text-align: center;
    color: white;
}

.List-box {
    margin-left: 50px;
    margin-right: 50px;
    color: white;
}

.resume {
    margin-left: 30px;
    font-size: 25px;
    position: relative;
    bottom: 70px;
}