.hero-wrapper {
    text-align: center;
    background-color: black;
    padding-bottom: 25px;
}

.hero-p {
    margin-top: 25px;
}

p {
    font-size: 25px;
    color: white;
}

.expand-on-hover {
    transition: transform 0.3s ease; 
}

.expand-on-hover:hover {
    transform: scale(1.2); 
}